{%extends "layout.html"%}

{% block content%}
<h1>Chieu Anh Nguyen</h1>
<p>Email: chieuanh.nguyen@sjsu.edu</p>
<p>Education: Bachelor of Science, Management Information Systems @ San Jose State University </p>
<h2>Experience</h2>
<h3>Data Engineer Intern @ Cadent</h3>
<ul>
    <li>Develop data models and build an ETL pipeline from data lake to a Sisense dashboard to report accuracy of
        multiple predictive models and provide insights into key business performance metrics
    </li>
</ul>
<h3> Marketing Data Analyst Intern @ VMware</h3>
<ul>
    <li>Automated ETL data pipeline of client data by writing Python(Pandas, Numpy) / SQL script to run data against
        100k+ records queried from Salesforce utilizing Salesforce REST API, reducing process from 5
        hours to 15 minutes per week
    </li>
</ul>
<h3> Data Analyst Intern @ Braven</h3>
<ul>
    <li>Generated weekly Tableau Dashboards, highlighting insights of client data from a variety of data sources,
        and present key information to internal stakeholders
    </li>
</ul>
{% endblock content%}